body {
    font-family: Arial, sans-serif;
    background-position: center;
    background-size: cover;
}
header {
    background-color: #592a5e;
    color: white;
    padding: 1rem;
    text-align: center;
    height: 50px;
    font-size: 16px;
}
header.h1 {
    color: white;
}
.container {
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    position: absolute;
    margin-top: 70px;
    bottom: 10px;
}
form {
    width: 33%;
    padding: 50px 50px;
    box-shadow: 0 0 10px rgb(87, 40, 87);
    background-color: #f5e3f4;
}
.form-group {
    margin-bottom: 15px;
    color: #8d469b;
}
.form-group1 {
    color: #f5e3f4;
    padding: 10px;
    margin: 5px;
}

label {
    font-weight: bold;
    color: #592a5e;
    font-size: 16px;
}

input[type="text"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: auto;
}

button {
    background-color: #592a5e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}
img {
    width: 530px;
    height: auto;
    display: block;
    border-radius: 8px;
    background: transparent;
    padding: 0px;
}
p {
    color: #592a5e;
    font-size: 28px;
    font-weight: bold;
    text-shadow: #700d52;
}
img.h1 {
    color: white;
    align-content: center;
    font-weight: bold;
    size: 400px;
}
footer {
    background-color: #bc71bb;
    color: #ffffff;
    padding: 35px;
    margin-top: 500px;
}
.footer-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 5px 0;
}

.footer-section h2 {
    color: #592a5e;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.footer-section ul,
.footer-section a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
    margin-left: 15px;
}
.footer-section p6 {
    width: 250px;
    margin-left: 0px;
    font-size: 14px;
    color: white;
    top: 560px;
    margin-left: 0%;
}
.footer-section p1 {
    margin-left: 0px;
    margin: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a:hover {
    color: #7a2978;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #592a5e;
    height: 18px;
}

.footer-bottom p3 {
    margin: 0;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #592a5e;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.back-to-top:hover {
    background-color: #7a2978;
}
